:root {
  /* Colors */
  --background-color: #161b22;
  --inactive-cell-color: aliceblue;
  --active-cell-color: darkslategray;
  --knob-color: ivory;

  /* Sizing */
  --gap-size: 0px;
  --container-height: 480px;
  --container-width: 640px;
  --container-border-size: 64px;
  --container-border-radius: 24px;
  --knob-size: 30px;
  --knob-height: -90px;
  --button-height: 64px;
  --button-width: 150px;

  /* Text */
  --font-family: Arial, sans-serif;
}

/* Global Styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

/* Typography */
h1 {
  text-align: center;
  margin-bottom: -50px;
  color: var(--knob-color);
  font-family: var(--font-family);
}

/* Container Styles */
.etch-a-sketch {
  position: relative;
  width: var(--container-width);
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
  height: var(--container-height);
  width: 100%;
  border: var(--container-border-size) solid red;
  border-radius: var(--container-border-radius);
  overflow: hidden;
}

.row {
  display: flex;
  flex-grow: 1;
  gap: var(--gap-size);
}

.cell {
  flex-grow: 1;
  flex-basis: 0;
  background-color: var(--inactive-cell-color);
}

.cell.active {
  background-color: var(--active-cell);
}

/* Knob Styles */
.knobs {
  position: absolute;
  bottom: calc(0.5 * var(--knob-size));
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.knob {
  height: var(--knob-size);
  width: var(--knob-size);
  background-color: var(--knob-color);
  border-radius: 50%;
}

/* Settings Styles */
.settings-container {
  margin-top: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: var(--knob-color);
  background-color: red;
  min-height: var(--button-height);
  min-width: var(--button-width);
  border: none;
  border-radius: 24px;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: bold;
}
