.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.cell {
  background-color: red;
  width: 16px;
  height: 16px;
}
